h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 1px;
    color: #0D2C40;
    margin: 0;
}

h2 {
    font-family: "Raleway";
    color: #0D2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

h3 {
    font-family: "Raleway";
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 24px;
}

p {
    font-family: "Droid Serif", serif;
}

body {
    text-align: center;
    margin: 0;
}

a {
    font-family: "Raleway";
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
}

p {
    font-family: "Droid-serif";
    line-height: 26px;
    font-size: 18px
}

header {
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px 30px 20px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0 20px 0;
}

main {
    width: 850px;
    margin: 35px auto 35px auto;
}

img {
    margin: 40px 8px 0 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.button {
    background-color: #0D2C40;
    color: white;
    font-size 18px;
    padding: 12px;
    margin-top: 12px;
}

.test {
    font-family: "Raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}

.copyright {
    font-family: "Raleway";
    float: left;
}

.message {
    font-family: "Raleway";
    float: right;
}

.name {
    color: #F15B31;
    font-weight: 700;
}

#counterP {
    font-size: 30px;
    font-family: "Raleway"
}

#counterC {
    font-size: 30px;
    font-family: "Raleway"
}

#teams {
    font-size: 30px;
    word-spacing: 30px;
}

#timerText {
    font-size: 30px;
    font-family: "Raleway";    
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

a:hover {
    border-color: white;
}
